*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    border-radius: 3px;
}

body{
    background: #FFFFFF;
}

/* NAVIGATION */

header{

    width:100%;
    background:white;
    box-shadow:0 2px 10px rgba(0,0,0,.1);

}

nav{

    width:90%;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 0;

}

.logo{

    font-size:30px;
    font-weight:bold;
    color:#2563eb;

}

.logo span{

    color:#10b981;

}

nav ul{

    display:flex;
    list-style:none;
    gap:30px;

}

nav a{

    text-decoration:none;
    color:#333;
    transition:.3s;

}

nav a:hover{

    color:#2563eb;

}

.login-btn{

    background:#2563eb;
    color:white;
    padding:10px 25px;
    border-radius:30px;
}

/* HERO */

.hero{
     width:90%;
    margin:auto;
    background: white;
    min-height:90vh;

    display:flex;
    justify-content:space-between;
    align-items:center;

}

.hero-text{

    width:50%;
    animation:slideLeft 1s;

}

.hero-text h1{

    font-size:55px;
    color:#0f172a;

}

.hero-text p{

    margin:25px 0;
    line-height:1.8;
    color:#666;

}

.buttons{

    display:flex;
    gap:20px;

}

.btn1{

    background:#2563eb;
    color:white;
    padding:14px 30px;
    border-radius:40px;
    text-decoration:none;
}

.btn2{

    border:2px solid #2563eb;
    color:#2563eb;
    padding:14px 30px;
    border-radius:40px;
    text-decoration:none;
}

.hero-image{

    width:40%;
    text-align:center;

}

.hero-image i{

    font-size:250px;
    color:#2563eb;

    animation:float 4s infinite;

}

/* SERVICES */

.services{

    padding:80px 10%;
    background: white;

}

.services h2{

    text-align:center;
    font-size:40px;
    margin-bottom:50px;

}

.service-container{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:30px;

}

.card{

    background:white;

    padding:40px;

    text-align:center;

    border-radius:15px;

    transition:.4s;

}

.card:hover{

    transform:translateY(-12px);

}

.card i{

    font-size:45px;

    color:#2563eb;

    margin-bottom:20px;

}

/* WHY */

.why{

     background:#2563EB;

    color:white;

    padding:80px 10%;

}

.why h2{

    text-align:center;

    margin-bottom:50px;

}

.why-container{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));

    gap:30px;

    text-align:center;

}

.why i{

    font-size:50px;

    margin-bottom:20px;

}
.mobile {
    display: flex; 
     justify-content: center;
     align-items: center;
}
.mobile img {
    display: flex;
    padding: 50px;
    flex: 1;
    width: 300px;
}
/*=====================================
                FOOTER
======================================*/

.footer{

    background:#0F172A;
    color:white;
    margin-top:120px;
    padding:80px 0 30px;

}

.footer-container{

    width:90%;
    margin:auto;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:50px;

}

.footer-box h2,
.footer-box h3{

    margin-bottom:25px;

}

.footer-box p{

    color:#CBD5E1;
    line-height:1.8;
    margin-bottom:15px;

}

.footer-box ul{

    list-style:none;

}

.footer-box ul li{

    margin-bottom:15px;

}

.footer-box ul li a{

    color:#CBD5E1;
    text-decoration:none;
    transition:.3s;

}

.footer-box ul li a:hover{

    color:#60A5FA;
    padding-left:8px;

}

.footer-box i{

    color:#60A5FA;
    margin-right:10px;

}

.social-icons{

    display:flex;
    gap:15px;
    margin-top:25px;

}

.social-icons a{

    width:45px;
    height:45px;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#1E293B;

    border-radius:50%;

    text-decoration:none;

    transition:.4s;

}

.social-icons a:hover{

    background:#2563EB;

    transform:translateY(-5px);

}

.social-icons a i{

    color:white;
    margin:0;

}

.footer hr{

    width:90%;
    margin:60px auto 30px;
    border:none;
    height:1px;
    background:#334155;

}

.footer-bottom{

    width:90%;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    gap:15px;

}

.footer-bottom p{

    color:#94A3B8;

}
/* ANIMATIONS */

@keyframes float{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-20px);
}

100%{
transform:translateY(0);
}

}

@keyframes slideLeft{

from{

opacity:0;

transform:translateX(-60px);

}

to{

opacity:1;

transform:translateX(0);

}

}

/* RESPONSIVE */

@media(max-width:900px){

.hero{

flex-direction:column;

text-align:center;

padding:60px 0;

}

.hero-text{

width:100%;

}

.hero-image{

width:100%;

margin-top:50px;

}

.hero-image i{

font-size:180px;

}

nav{

flex-direction:column;

gap:20px;

}

nav ul{

flex-wrap:wrap;

justify-content:center;

}

}/* ===================== */
/* TRUSTED BY SECTION */
/* ===================== */

.trusted{
    width: 90%;
    margin: 80px auto;
    text-align: center;
     background: white;
}

.trusted h2{
    font-size: 40px;
    color: #0f172a;
    margin-bottom: 15px;
}

.trusted p{
    color: #666;
    margin-bottom: 50px;
    font-size: 18px;
}

.trusted-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
    gap: 25px;
}

.trusted-card{
    background: white;
    padding: 35px 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,.08);
    transition: .4s;
    cursor: pointer;
}

.trusted-card h3{
    color: #2563EB;
    font-size: 24px;
    font-weight: 600;
}

.trusted-card:hover{
    transform: translateY(-10px);
    background: #2563EB;
}

.trusted-card:hover h3{
    color: white;
}
.trusted-card img{
    width:80px;
    height:80px;
    object-fit:contain;
    margin-bottom:20px;
    transition:.4s;
}

.trusted-card:hover img{
    transform:scale(1.1);
}

/*=====================================
            ABOUT SECTION
======================================*/

.about{

    width:90%;
    margin:120px auto;
      background: white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:70px;

}

.about-image{

    flex:1;

}

.about-image img{

    width:100%;
    max-width:520px;

    animation:float 5s ease-in-out infinite;

}

.about-content{

    flex:1;

}

.section-tag{

    color:#2563EB;

    font-weight:600;

    letter-spacing:2px;

}

.about-content h2{

    font-size:42px;

    color:#0f172a;

    margin:15px 0 25px;

}

.about-content p{

    color:#666;

    line-height:1.9;

    margin-bottom:20px;

}

.about-list{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:15px;

    margin:35px 0;

}

.about-item{

    background:#F8FAFC;

    padding:15px;

    border-radius:12px;

    font-weight:500;

    transition:.3s;

}

.about-item:hover{

    background:#2563EB;

    color:white;

    transform:translateX(8px);

}

.about-btn{

    display:inline-block;

    text-decoration:none;

    background:#2563EB;

    color:white;

    padding:15px 35px;

    border-radius:50px;

    transition:.3s;

}

.about-btn:hover{

    background:#1D4ED8;

    transform:translateY(-3px);

}

@media(max-width:900px){

.about{

    flex-direction:column;

    text-align:center;

}

.about-list{

    grid-template-columns:1fr;

}

.about-image img{

    max-width:350px;

}

}
/* ========================= */
/* HOW IT WORKS */
/* ========================= */

.how-it-works{

    width:90%;
    margin:120px auto;
    background: white;
}

.section-heading{

    text-align:center;
    margin-bottom:60px;

}

.section-heading h2{

    font-size:42px;
    color:#0f172a;
    margin-bottom:15px;

}

.section-heading p{

    color:#666;

}

.steps{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;

}

.step{

    background:white;
    padding:40px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.4s;

}

.step:hover{

    transform:translateY(-10px);

}

.number{

    width:80px;
    height:80px;
    margin:auto;
    margin-bottom:20px;
    background:#2563EB;
    color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
    font-weight:bold;

}

.step h3{

    margin-bottom:15px;

}

.step p{

    color:#666;
    line-height:1.8;

}
/* ========================= */
/* STATISTICS SECTION */
/* ========================= */

.statistics{

    width:90%;
    margin:120px auto;
    text-align:center;
     background: white;

}

.stats-heading{

    margin-bottom:60px;

}

.stats-heading h2{

    font-size:42px;
    color:#0f172a;
    margin-bottom:15px;

}

.stats-heading p{

    color:#666;
    max-width:700px;
    margin:auto;
    line-height:1.8;

}

.stats-container{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:30px;

}

.stat-card{

    background:#2563EB;
    color:white;
    position: relative;
    padding:45px 25px;

    border-radius:20px;

    transition:.4s;

    box-shadow:0 10px 30px rgba(37,99,235,.25);

}

.stat-card:hover{

    transform:translateY(-12px);

}

.stat-card h3{

    font-size:50px;
    margin-bottom:15px;

}

.stat-card p{

    font-size:18px;
    letter-spacing:.5px;

}
.bg-icon{

    position:absolute;

    top:15px;
    right:20px;

    font-size:70px;

    color:white;

    opacity:.12;

}

/*=====================================
        TESTIMONIALS
=====================================*/

.testimonials{

    width:90%;
    margin:120px auto;
    background: white;

}

.testimonial-title{

    text-align:center;
    margin-bottom:60px;

}

.testimonial-title h2{

    font-size:42px;
    color:#0f172a;
    margin-bottom:15px;

}

.testimonial-title p{

    max-width:700px;
    margin:auto;
    color:#666;
    line-height:1.8;

}

.testimonial-container{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:35px;

}

.testimonial-card{

    background:white;

    padding:35px;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

    transition:.4s;

    position:relative;

    overflow:hidden;

}

.testimonial-card:hover{

    transform:translateY(-12px);

    box-shadow:0 20px 40px rgba(37,99,235,.18);

}

.testimonial-card::before{

    content:"❝";

    position:absolute;

    top:15px;

    right:25px;

    font-size:90px;

    color:#2563eb10;

}

.stars{

    color:#FFD700;

    font-size:20px;

    margin-bottom:20px;

}

.message{

    color:#555;

    line-height:1.8;

    margin-bottom:30px;

}

.customer{

    display:flex;

    align-items:center;

    gap:15px;

}

.customer img{

    width:60px;

    height:60px;

    border-radius:50%;

    object-fit:cover;

    border:3px solid #2563EB;

}

.customer h4{

    color:#0f172a;

    margin-bottom:5px;

}

.customer span{

    color:#777;

    font-size:14px;

}
/*=====================================
            FAQ SECTION
======================================*/

.faq{

    width:90%;
    margin:120px auto;

}

.faq-title{

    text-align:center;
    margin-bottom:60px;

}

.faq-title h2{

    font-size:42px;
    color:#0F172A;
    margin:15px 0;

}

.faq-title p{

    max-width:700px;
    margin:auto;
    color:#64748B;
    line-height:1.8;

}

.faq-container{

    max-width:900px;
    margin:auto;

}

.faq-item{

    margin-bottom:20px;

    background:#fff;

    border-radius:15px;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

    overflow:hidden;

}

.faq-item summary{

    list-style:none;

    cursor:pointer;

    padding:22px 30px;

    font-size:20px;

    font-weight:600;

    display:flex;

    align-items:center;

    gap:15px;

    color:#0F172A;

    transition:.3s;

}

.faq-item summary::-webkit-details-marker{

    display:none;

}

.faq-item summary::after{

    content:"+";

    margin-left:auto;

    font-size:28px;

    color:#2563EB;

    transition:.3s;

}

.faq-item[open] summary::after{

    content:"−";

}

.faq-item summary:hover{

    background:#F8FAFC;

}

.faq-item summary i{

    color:#2563EB;

}

.faq-item p{

    padding:0 30px 25px;

    color:#64748B;

    line-height:1.8;

}

/*=====================================
        CALL TO ACTION
======================================*/

.cta{

    width:90%;
    margin:120px auto;

    background:linear-gradient(135deg,#2563EB,#1D4ED8);

    border-radius:30px;

    padding:80px 60px;

    position:relative;

    overflow:hidden;

    text-align:center;

}

/* Decorative Circles */

.cta::before{

    content:"";

    position:absolute;

    width:280px;

    height:280px;

    background:rgba(255,255,255,.08);

    border-radius:50%;

    top:-100px;

    left:-80px;

}

.cta::after{

    content:"";

    position:absolute;

    width:220px;

    height:220px;

    background:rgba(255,255,255,.06);

    border-radius:50%;

    bottom:-80px;

    right:-60px;

}

.cta-content{

    position:relative;

    z-index:2;

}

.cta .section-tag{

    color:#BFDBFE;

    font-weight:600;

    letter-spacing:2px;

}

.cta h2{

    color:white;

    font-size:46px;

    margin:20px auto;

    max-width:800px;

}

.cta p{

    color:#E2E8F0;

    max-width:750px;

    margin:auto;

    line-height:1.9;

    font-size:17px;

}

.cta-buttons{

    margin-top:45px;

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

}

.btn-primary{

    text-decoration:none;

    background:white;

    color:#2563EB;

    padding:16px 38px;

    border-radius:50px;

    font-weight:bold;

    transition:.4s;

}

.btn-primary:hover{

    transform:translateY(-5px);

}

.btn-secondary{

    text-decoration:none;

    color:white;

    border:2px solid white;

    padding:16px 38px;

    border-radius:50px;

    transition:.4s;

}

.btn-secondary:hover{

    background:white;

    color:#2563EB;

}
